{% extends '::base.html.twig' %}

{% block title %}B&B Le Vie Del Centro{% endblock %}

{% block body %}
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="#">B&B Le Vie Del Centro</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#about">Rooms</a></li>
                        <li><a href="#about">Book Now</a></li>
                        <li><a href="#contact">Contact</a></li>
                        <!--<li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li class="nav-header">Nav header</li>
                                <li><a href="#">Separated link</a></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>-->
                    </ul>
                    <form class="navbar-form pull-right">
                        <input class="span2" placeholder="Email" type="text">
                        <input class="span2" placeholder="Password" type="password">
                        <button type="submit" class="btn">Sign in</button>
                    </form>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>

    <div class="container">
        <div class="carousel slide" id="home-carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <img src="img/msf_leviedelcentro-13.jpg" alt="matrimoniale 1" />
                    <div class="carousel-caption">
                        <p>Stanza matrimoniale 1</p>
                    </div>

                </div>
                <div class="item">
                    <img src="img/msf_leviedelcentro-42.jpg" alt="matrimoniale 2" />
                </div>
                <div class="item">
                    <img src="img/msf_leviedelcentro-69.jpg" alt="matrimoniale 3" />
                </div>
                <div class="item">
                    <img src="img/msf_leviedelcentro-92.jpg" alt="quadrupla" />
                </div>
            </div>
            <a class="carousel-control left" href="#home-carousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#home-carousel" data-slide="next">&rsaquo;</a>

        </div>
        <!-- Example row of columns -->
        <div class="row">
            <div class="span12">

                <p class="lead"> Set in the  <strong>pedestrian shopping area </strong>along Via Garibladi, B&B Le Vie Del Centro <strong>is 300 metres from Cagliari Cathedral</strong>. It offers elegant rooms with <strong>wood floors and air conditioning</strong>.Rooms are decorated in neutral colour schemes and have wrought-iron beds. They all feature a <strong>flat-screen TV</strong>,<strong>free Wi-Fi </strong>and a private bathroom with hairdryer. For breakfast you have 2 options. You can use your in-room tea and coffee making facilities and have pastries delivered, or go to Bar <em>Antico Caffé</em>, one of Cagliari's oldest cafés, 100 metres away.
                    Le Vie Del Centro is set on the second floor of an early 20th century building. <strong>It is less than 5 minutes' walk from Bastione di Saint Remy and the Cittadella dei Musei. Poetto Beach is 4 km away.</strong></p>
            </div>
        </div>
        <ul class="thumbnails">
            <li class="span3">
                <div class="thumbnail">
                    <a href="#">
                        <img src="img/msf_leviedelcentro-13.jpg" alt="matrimoniale 1" />
                    </a>
                    <h4>Item Label</h4>
                </div><!-- .thumbnail -->
            </li><!-- .span3 -->
            <li class="span3">
                <div class="thumbnail">
                    <a href="#">
                        <img src="img/msf_leviedelcentro-42.jpg" alt="matrimoniale 2" />
                    </a>
                    <h4>Item Label</h4>
                </div><!-- .thumbnail -->
            </li><!-- .span3 -->
            <li class="span3">
                <div class="thumbnail">
                    <a href="#">
                        <img src="img/msf_leviedelcentro-69.jpg" alt="matrimoniale 3" />
                    </a>
                    <h4>Item Label</h4>
                </div><!-- .thumbnail -->
            </li><!-- .span3 -->
            <li class="span3">
                <div class="thumbnail">
                    <a href="#">
                        <img src="img/msf_leviedelcentro-92.jpg" alt="matrimoniale 0" />
                    </a>
                    <h4>Item Label</h4>
                </div><!-- .thumbnail -->
            </li><!-- .span3 -->

        </ul>


        <hr>

        <footer>
            <p>© Company 2013</p>
        </footer>

    </div> <!-- /container -->
{% endblock %}
